---
import "../style/albors.css"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Error</title>
</head>
<body class="box-page bc2 grid jcontent-center aitems-center">
  <div class="error bc4 grid jcontent-center aitems-center">
    <h1>ارور 404 </h1>
    <h2>صفحه پیدا نشد</h2>
    <h3> گم شدی؟
    <a href="/" class="tc1"> بازگشت به خانه </a>
    </h3>
  </div>

</body>
</html>

<style>
  .error{
    width: 16rem;
    height: 16rem;
    text-align:center;
    padding:8px;
    border-radius:16px;
  }
</style>