---
import Layout from "../layouts/Layout.astro";
import IndexSlider from "../components/index/IndexSlider.astro";
import BaseContactMe from "../components/base/BaseContactMe.astro";
---

<Layout title="خانه" htitle="" hurl="">
  <IndexSlider/>

  <div class="box-page bc6" id="about">
    
  </div>

  <div class="box-page bc7" id="projects">

  </div>

  <div class="box-page bc6" id="tools">

  </div>

  <div class="box-row" id="contact">
    <BaseContactMe/>
  </div>

</Layout>

<style>
  
  .bc6{background: linear-gradient(90deg, rgba(238,240,242,1) 0%, rgba(218,218,218,1) 100%); }
  .bc7{background: linear-gradient(90deg, rgba(218,98,125,1) 0%, rgba(187,97,117,1) 100%); }
  
  #contact{background-color:#313131;}

</style>