---
import Layout from "../layouts/Layout.astro";
import IndexSlider from "../components/IndexSlider.astro";
---

<Layout title="خانه" htitle="" hurl="">
  <IndexSlider/>
  <div class="box-page" id="about">
    <h1>HI</h1>
  </div>
  <div class="box-page bc5" id="projects">

    <h1>shhhh</h1>
  </div>
  <div class="box-page bc1" id="tools">

    <h1>shhhh</h1>
  </div>
  <div class="box-row" id="contact">

  </div>
  <div class="footer box-row bc2">

  </div>

</Layout>

<style>
  #contact{
    height:20rem;
    background-color:#313131;

  }
  .footer{
    height:20rem;
  }
</style>