---
import Layout from "../layouts/Layout.astro";
import BaseContactMe from "../components/base/BaseContactMe.astro";
import IndexSlider from "../components/index/IndexSlider.astro";
import IndexAboutSection from "../components/index/IndexAboutSection.astro";
import IndexProjectsSection from "../components/index/IndexProjectsSection.astro";
---

<Layout title="خانه" htitle="" hurl="">
  <IndexSlider/>
  <IndexAboutSection/>
  <IndexProjectsSection/>


  <div class="box-page bc6" id="technologies">

  </div>

  <div class="box-row" id="contact">
    <BaseContactMe/>
  </div>

</Layout>

<style>
  
  .bc6{background: linear-gradient(90deg, rgba(238,240,242,1) 0%, rgba(218,218,218,1) 100%); }

  #contact{background-color:#313131;}

</style>