---

---
<div id="header"><div class="box">
    <h1><a href="/" id="torbatti">تربتی</a></h1>
</div></div>


<style>
    #header{padding:.75rem 0;background-color:var(--c01);}
    h1{font-size:large;font-weight:bold;}
    #torbatti{color:var(--c02);}
</style>