---
---
<div id="header"><div class="box">

	<p><a href="/">تربتی</a></p>
	
</div></div>


<style>
	#header{
		background-color: var(--c01);
		color:var(--c02);
	}
	#header .box{
		font-size:large;
		padding:.75rem 0;
	}

	
</style>