#reactAnimate{
  position:absolute;
  width:100vw;
  height:calc(100vh + 3rem);
  z-index:4;
}
.reactLogos{
  position:absolute;
  width:32px;
  height:32px;
  background-size:contain;
  filter:
  drop-shadow(-1px -1px 0px #DA627D) 
  drop-shadow(1px -1px 0px #DA627D) 
  drop-shadow(1px 1px 0px #DA627D)
  drop-shadow(-1px 1px 0px #DA627D);
}
.logo1{background:url("/logos/logo1.svg")no-repeat;}
.logo2{background:url("/logos/logo2.svg")no-repeat;}
.logo3{background:url("/logos/logo3.svg")no-repeat;}
.logo4{background:url("/logos/logo4.svg")no-repeat;}