---
const {classList} = Astro.props;
---
<div class={classList}>
  <div class="menu-icons box-row flex jcontent-center aitems-center">
    <a href="https://github.com/Torbatti/torbatti-ir" target="_blank" class="gicon"><img src="github.svg" alt="github icon" width="32px" ></a>
  </div>
</div>

<style>
    .menu-icons{gap:16px;}
    @media(min-width:768px){
      .gicon img{
        width:24px;
        display:grid;
        justify-content:center;
        align-items:center;
      }
      a{transition:transform 0.3s ease-in-out;}
      a:hover{transform:translate(0,-4px);}
    }
</style>