---
---

<div id="darbare" class="bg-white"><div class="box">
  <p>آریا بختیاری</p>
  <p>|</p>
  <p>طراح , نویسنده , برنامه نویس </p>
</div></div>

<div id="peyvandha" class="bg-black"><div class="box">
  <p>پیوندها</p>
  <p>|</p>
  <p><a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">گیت هاب</a></p>
</div></div>

<div id="neveshtarha" class="bg-white"><div class="box">
  <p>نوشتارها</p>
  <p>|</p>
  <p><a href="">فنآوری</a></p>
  <p><a href="">طاقچه</a></p>
  <p><a href="">آیین</a></p>
  <p><a href="">زبان</a></p>
  <p><a href="">سرگذشت</a></p>
  <p><a href="">سوداگری</a></p>
</div></div>

<div id="taagche" class="bg-black"><div class="box">
  <p>طاقچه</p>
  <p>|</p>
  <p><a href="">مصورها</a></p>
  <p><a href="">نوشتارگان</a></p>
  <p><a href="">بازی ها</a></p>
  <p><a href="">نماواگان</a></p>
  <p><a href="">نواها</a></p>
</div></div>


<style>
	/* :root{--c1:#1A181B;--c2:#F0F7F4;--c3:#A2E3C4;--c4:#a167a5;--c5:#e56b6f} */
  .bg-black{
    background-color: var(--c01);
		color:var(--c02);
  }
  .bg-black a:hover{color:var(--c03);}

  .bg-white{
    background-color: var(--c02);
		color:var(--c01);
  }
  .bg-white a:hover{color:var(--c04);}

  #darbare .box,
	#neveshtarha .box,
  #taagche .box,
  #peyvandha .box{
		padding:.5rem 0;

		display:flex;
		flex-wrap:wrap;
		gap:1rem;
	}
  #darbare .box{gap:.5rem;}/* 1rem gap ziade braye inja */
	
	#darbare,
  #peyvandha,
  #neveshtarha,
  #taagche{
  }
</style>