---

---
<div id="nevise"><div class="box">

    <a href="/fa/nevise"><h2>نویسه</h2></a>

    <a href="/fa/nevise#aaiin">
        <h3>آیین</h3>
        <h6>کیش؛ مذهب</h6>
        <h4>چنین است آیین گردنده‌دهر </h4>
        <h4>گهی نوش بار آورد ، گاه زهر</h4>
        <h5>فردوسی</h5>
    </a>
    
    <a href="/fa/nevise#zabaan">
        <h3>زبان</h3>
        <h6> از وسایل پیوند آدمی</h6>
        <h4>چشمم به زبان حال گوید</h4>
        <h4>نی آنکه به ‌اختیار گویم</h4>
        <h5>سعدی</h5>
    </a>

    <a href="/fa/nevise#sargozasht">
        <h3>سرگذشت</h3>
        <h6>آنچه بر کسی گذشته</h6>
        <h4>بپرسیدشان کاندر این ساده دشت</h4>
        <h4>چه دارید از افسانه ها سرگذشت </h4>
        <h5>نظامی</h5>
    </a>

    <a href="/fa/nevise#saastaa">
        <h3>ساستا</h3>
        <h6>ستمکار؛ بی‌رحم</h6>
        <h6>اهریمن</h6>
        <h4>با دو گمره همره آمد مؤمنی </h4>
        <h4>چون خرد با نفس و با اهریمنی</h4>
        <h5>مولوی</h5>
    </a>

    <a href="/fa/nevise#sodagari">
        <h3>سوداگری</h3>
        <h6> بازرگانی ؛ کسب</h6>
        <h6>شهید دکتر حاج احمد سوداگر</h6>
        <h4>بر دکان بودی نگهبان دکان </h4>
        <h4>نکته گفتی با همه سوداگران</h4>
        <h5>مولوی</h5>
    </a>

    <a href="/fa/nevise#fanaavari">  
        <h3>فنآوری</h3>
        <h6> هنر ساخت حرفه ای نو </h6>
        <h4>خوی او ای پسر این است که دانا را</h4>
        <h4>نفروشد همه جز مکر و دروغ و فن</h4>
        <h5>ناصرخسرو</h5>
    </a>
    
    
    



</div></div>

<style>
    #nevise{
        width:100%;
        
        background-color:var(--c01);
        color:var(--c02);
    }
    
    a{margin:0 1rem;}
    
    h2{text-decoration:underline;font-weight:bold;font-size:larger;}
    h3{text-decoration:underline;font-weight:bold;}
    h5{font-size:small;}
    
    h6{font-size:small;}
    h6::before{content:": ";margin-left:.25rem;}
</style>