---

---
<div id="tagche">
<div class="box">
    <a href="/fa/taagche"><h2>طاقچه</h2></a>

    <a href="/fa/taagche#nask">
        <h3>نسک</h3>
        <h6>هریک از قسمت‌های بیست‌ویک‌گانۀ کتاب اوستا</h6>
        <h4>چه مایه زاهد و پرهیزکار و صومعگی</h4>
        <h4>که نسک‌خوان شده از عشقش و ایارده‌گوی</h4>
        <h5>خسروانی</h5>
    </a>

    <a href="/fa/taagche#nask">
        <h3>رخساره</h3>
        <h6>روی و صورت و چهره و سیما</h6>
        <h4>بت اگرچه لطیف دارد نقش </h4>
        <h4>نزد رخساره ٔ تو هست خراش</h4>
        <h5>رودکی</h5>
    </a>

    <a href="/fa/taagche#bazi">
        <h3>بازی</h3>
        <h6>رفتار کودکانه و غیر جدی</h6>
        <h4>ای برره بازی اوفتاده بس </h4>
        <h4>یک ره برهی ازین ره بازی</h4>
        <h5>ناصرخسرو</h5>
    </a>

    <a href="/fa/taagche#pooyaanamaa">
        <h3>پویانما</h3>
        <h6>نقاشی درحال حرکت</h6>
        <h4>این چومگس می کند خوان سخن را عفن </h4>
        <h4>وآن چو ملخ می برد کشته ٔ دین را نما</h4>
        <h5>خاقانی</h5>
    </a>

</div>
</div>

<style>
    #tagche{
        width:100%;
        
        background-color:var(--c02);
        color:var(--c01);
    }
    
    a{margin:0 1rem;}
    
    h2{text-decoration:underline;font-weight:bold;font-size:larger;}
    h3{text-decoration:underline;font-weight:bold;}
    h5{font-size:small;}
    
    h6{font-size:small;}
    h6::before{content:": ";margin-left:.25rem;}

</style>