---

---
<div class="top"><div class="box">
        <h1> آریا بختیاری </h1>
        <h1>طراح , نویسنده , </h1>
        <h1>برنامه نویس</h1>

        <h2><a href="/fa/resume">رزومه</a></h2>
        <h2><a href="/fa/porozhegaan">پروژگان</a></h2>
        <h2><a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">گیت هاب</a></h2>
</div></div>

<style>
    .top{padding:.75rem 0;}
    div{font-weight:bold;}
    h1:first-of-type{font-size:larger;}

    h2{margin:.25rem 0;transition:margin .25s;}
    h2::before{content:"- ";}
    h2:hover{margin-right:.5rem;}
</style>